.question-card {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #a2d5ab;
}

.card {
  width: 60%;
  height: auto; /*50vh; */
  background-color: #e5efc1;
  margin-bottom: 2rem;
}

.quiz-options {
  text-align: left;
  margin-right: 2.5rem;
  cursor: pointer;
}

.option-label {
  list-style: none;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.option-row {
  display: flex;
  flex-direction: row;
  background-color: #4d77ff;
  margin-bottom: 2rem;
}

.option-row-selected {
  display: flex;
  flex-direction: row;
  background-color: #548cff;
  margin-bottom: 2rem;
  background-color: #d77fa1;
}
