.option-label {
  list-style: none;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.option-row {
  display: flex;
  flex-direction: row;
  background-color: slateblue;
  margin-bottom: 2rem;
  /* align-items: center; */
}

.option-row-selected {
  display: flex;
  flex-direction: row;
  background-color: slateblue;
  margin-bottom: 2rem;
  background-color: springgreen;
}
