.search-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.search {
  width: 30%;
  height: 3vh;
  border: 0.1rem solid #dddddd;
}

.search-block-2 {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.quiz-background {
  background: #e5efc1;
  width: 100vw;
  height: 100vh;
}
